<div class="container">
    <div class="box">
        <h4>Thank You for ordering, your food will be on the way, please expect a phone call from our employees for your
            address direction
        </h4><br />
        <a href="/" style="text-align: center;font-size: 20px; text-decoration: none;margin-left: 150px;">Go Back</a>
    </div>
</div>
